header{
    background-color: lavender;
}
header h1{
    text-align: center;

}
#loginButtons {
    display: block;
    float: right;
}

/*Style for the unordered list*/
nav ul {
    list-style-type: none;/*Removes the bullets of the ul*/
    margin: 0;
    padding: 0;
    display: flex; /*Makes a flex box*/
    flex-wrap: wrap;/*Wrap elements if it is necesary*/
    display: -webkit-flex; /*Chrome version fixer*/
    -webkit-flex-wrap: wrap;/*Chrome version fixer*/
}
/*Style for the elements of the ul*/
nav ul li{
    flex: 1 0 200px;/*Flex items giving them the same size, no shrink items and basis size is 200px */
    -webkit-flex: 1 0 200px;/*Flex items giving them the same size, no shrink items and basis size is 200px */
    margin: 0;
    padding: 0;
    color: black;
    text-shadow: 1px 1px 5px black;/*Adds a black shadow*/
    width: 100%;
}

/*Style for the links*/
nav ul li a:link{
    display: block;/*Display elemts as block elemnts*/
    background-color:  #dedddd;
    text-decoration: none;/*Removes the underline*/
    padding: 0.15em;
    margin: 0.1em;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

/*Style for the visitesd links*/
nav ul li a:visited{
    text-decoration: none; /*To be equal as not visited*/
    display: block;
    background-color:  #dedddd;
    color: black;
}

/*Style for the links while hovering the mouse*/
nav ul li a:hover{
    text-decoration: none;/*Removes the underline*/
    color: white; /*With this 2 lines,revert the color and background color*/
    background-color: #090080;
}
